* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.4s ease-in-out;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

body {
    background-color: var(--off1);
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

:root {
    --color: #ff4500;
    --color2: #8a2500;
    --accent: #00e0d4;
    --off1: #f5f5f5;
    --off2: #dedede;
    --off3: #c7c7c7;
    --off4: #999999;
    --off5: #6b6b6b;
}

nav {
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    color: black;
    padding: 2rem;
    align-items: center;
    margin: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 0.6rem;
}

nav:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

h1 {
    font-weight: 300;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4rem;
}

h4 {
    font-weight: 300;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    color: var(--color);
    transition: all 0.4s linear;
}

.menu {
    text-decoration: none;
    text-align: right;
    display: inline-flex;
    gap: 2rem;
    justify-content: flex-end;
    font-weight: 300;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2rem;
    gap: 2rem;
}

.hero {
    height: 40rem;
    border-radius: 0.6rem;
    margin: 2rem 2rem 4rem 2rem;
    padding: 2rem;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    background: linear-gradient(
        -45deg,
        var(--color2),
        black,
        var(--color2),
        black
    );
    background-size: 800%;
    animation: gradient 20s ease infinite;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

.hero > img {
    width: 32rem;
    justify-self: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.item {
    background-color: white;
    padding: 3rem 4rem;
    border-radius: 0.6rem;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    display: grid;
    grid-template-columns: auto auto;
}

.item:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.item > h4 {
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    text-align: left;
    cursor: pointer;
}

.services {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8rem;
    font-size: 3.2rem;
    font-weight: lighter;
    text-align: left;
    padding: 8rem 4rem;
    color: black;
}

.cta {
    place-self: center;
}

.cta > a {
    color: black;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.cta > a:hover {
    color: var(--color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.service-img {
    background-image: url('https://images.unsplash.com/photo-1541665234574-8e72eb7cd028?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-size: cover;
    background-blend-mode: multiply;
    margin: 2rem;
    background-position: center center;
    border-radius: 0.6rem;
}

.service-img2 {
    background-image: url('https://images.unsplash.com/photo-1581079289196-67865ea83118?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1738&q=80');
    background-size: cover;
    background-blend-mode: multiply;
    margin: 2rem;
    background-position: center center;
    border-radius: 0.6rem;
}

.service-img3 {
    background-image: url('./img/chris-painting.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    margin: 2rem;
    background-position: center bottom;
    border-radius: 0.6rem;
}

.service-overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 24%,
        rgba(255, 255, 255, 0.311659698058911) 100%
    );

    border-radius: 0.6rem;
}

.services:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 0.6rem;
}

img {
    width: 6rem;
    justify-self: end;
}

footer > img {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.services > p {
    width: 40%;
    font-weight: 400;
}

.gallery {
    margin-top: 1.3em;
}

footer {
    padding: 0 4rem 2rem 4rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

footer > img {
    width: 2rem;
}

footer > p {
    text-align: left;
}


@media (max-width: 1280px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1024px) {
    section {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .menu {
        gap: 1rem;
    }

    .hero > img {
        width: 24rem;
    }

    .hero {
        height: 32rem;
    }
    .services {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    nav {
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        grid-auto-flow: row;
        margin: 0.8rem;
    }

    .menu {
        display: none;
    }

    .item {
        padding: 2rem 1.5rem;
    }

    .services {
        font-size: 1.6rem;
        margin: 1rem;
        padding: 4rem 2rem;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        padding: 0 2.4rem;
    }

    footer > img {
        display: none;
    }

    footer {
        display: inline-flex;
        justify-content: center;
        justify-items: center;
    }

    .hero {
        background-color: black;
        margin: 0.8rem;
    }

    section {
        margin: 1rem;
        gap: 1.5rem;
    }

    .service-img,
    .service-img2,
    .service-img3 {
        margin: 1rem;
    }

    p {
        padding: 0.6;
        padding-top: 0.6rem;
    }

    h3 {
        padding-bottom: 0.6rem;
    }

    h4 {
        font-family: 'Oswald', sans-serif;
    }
}
